<div id="<%= dom_id news %>">
  <p>
    <strong>Title:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= news.content %>
  </p>

  <p>
    <strong>Moral category:</strong>
    <%= news.moral_category %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= news.result %>
  </p>

</div>
